# Target url
BASE_URL=http://host.docker.internal
# Connection account
USER_EMAIL=admin@admin.com
USER_PASSWORD=admin

# Stress test parameters
NUMBER_ROOMS=5
USERS_PER_ROOM=60

# Optionnal
MAX_MESSAGES_ROUND=20
CONVERSATION_INTERVAL=1000
MESSAGE_RESPONSE_TIMEOUT=5000
BATCH_DELAY=1000
BATCH_SIZE=10