BASE_URL=http://host.docker.internal #via Docker
BASE_URL=http://localhost # Via npm
USER_EMAIL=admin@admin.com
USER_PASSWORD=admin
NUMBER_ROOMS=5
USERS_PER_ROOM=60
MAX_MESSAGES=20
CONVERSATION_INTERVAL=1000