.room .roomHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.room .roomHeader .returnButton {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 10;
}

.room .roomHeader .centerTitle {
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 40px;
}

.room .roomHeader .headerContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.room .roomHeader .dumb {
    flex-basis: 10%;
}

.room .room {
    width: 100%;
    height: 70vh;
    display: flex;
    overflow: auto;
    justify-content: center;
}

.room h1 {
    text-align: center;
    margin-top: 50px;
}
